html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.hide {
  display: none; }

.show {
  display: block; }

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3B3B3B;
  font-size: 3.5rem;
  animation-name: fadeIn; }

h3 {
  background-color: #43E6FF;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  font-family: "Avenir", Helvetica, sans-serif;
  width: 18.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding-left: 5px; }

h4 {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #3B3B3B;
  font-size: 2.2rem;
  margin-bottom: 2rem; }

h5 {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #3B3B3B;
  font-size: 2.2rem; }

p {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #3B3B3B; }

a {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #4EA9F5;
  text-decoration: none; }

a:hover {
  font-weight: bold; }

ul li {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #3B3B3B; }

@media only screen and (max-width: 800px) {
  .status-bar {
    display: none; }
  .social-list {
    display: none; }
  #menu-text {
    display: none; }
  .projects {
    flex-direction: column;
    align-items: center; }
  h3 {
    margin: auto;
    text-align: center; }
  h4 {
    text-align: center;
    margin-bottom: 1.5rem; } }

.menu-btn {
  position: absolute;
  z-index: 3;
  left: 35px;
  top: 35px;
  padding: 10px;
  cursor: pointer;
  display: flex; }
  .menu-btn #menu-text {
    color: white;
    font-size: 1rem;
    font-family: "Avenir", Helvetica, sans-serif;
    letter-spacing: 1px; }
  .menu-btn .btn-lines {
    margin: 0 10px 0 10px; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    box-shadow: 4px 3px 19px -6px rgba(0, 0, 0, 0.68); }
  .menu-btn.show {
    transform: rotate(180deg); }
    .menu-btn.show .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.show .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.show .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

#menu-text:hover {
  font-weight: bold; }

.menu-overlay {
  height: 180rem;
  width: 100%;
  background-color: white;
  z-index: 2;
  opacity: 0.99; }

.menu-nav {
  width: 80%;
  margin: auto;
  text-align: center; }
  .menu-nav ul {
    margin-top: 8rem; }
  .menu-nav li {
    margin: 1rem 0 1rem 0; }
  .menu-nav ul li a {
    font-size: 3rem; }

header {
  height: 350px;
  width: 100%;
  background-image: linear-gradient(#43E6FF, #78C1FE);
  display: flex;
  justify-content: flex-end; }

.status-bar {
  position: absolute;
  margin-top: 5rem;
  background-color: white;
  width: 35%;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 4px 3px 19px -6px rgba(0, 0, 0, 0.68);
  transition-timing-function: ease;
  transition: 0.2s; }

#status-text {
  padding: 15px 0 0 30px;
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 1rem;
  color: #3B3B3B;
  font-weight: bold; }

.image-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center; }

.image {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background-color: white;
  border-radius: 200px;
  width: 350px;
  height: 350px; }

#profile-image {
  width: 85%;
  height: 300px;
  margin: auto;
  border-radius: 100%;
  box-shadow: 0 0 19px -6px rgba(0, 0, 0, 0.68); }

.social-links {
  margin-top: 18.5rem;
  padding-right: 15px;
  z-index: 3;
  position: absolute; }
  .social-links .social-list li {
    display: inline;
    margin: 0 5px 0 5px;
    color: white;
    font-size: 2rem;
    cursor: pointer; }
  .social-links a {
    color: white;
    cursor: pointer; }

#details {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 10rem; }

#description-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Avenir", Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #EB22EE; }

.button-container {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem; }

.button {
  width: 200px;
  height: 50px;
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 2px;
  border-color: #3B3B3B;
  border-width: 1px;
  background-color: white;
  cursor: pointer; }

.button:hover {
  font-weight: bold;
  border-width: 2px; }

#projects {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAF8F7;
  position: relative;
  padding-bottom: 10rem;
  outline: none; }

.projects-container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 2.5rem;
  outline: none; }

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  outline: none; }

.project {
  margin-top: 2rem;
  max-width: 300px; }

.image-placeholder {
  background-color: #3B3B3B;
  height: 150px;
  width: 300px;
  margin: 0;
  padding: 0; }

.project-img {
  box-shadow: 4px 3px 19px -6px rgba(0, 0, 0, 0.68); }

.project-img:hover {
  cursor: pointer;
  opacity: 0.6; }

.techTag-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.tech-tag {
  margin: 1rem 0.5rem 0 0.5rem;
  width: 80px;
  color: white;
  padding: 5px;
  background-color: #959595;
  border-radius: 10px;
  text-align: center;
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
  box-shadow: 4px 3px 19px -6px rgba(0, 0, 0, 0.68); }

.techTag-text {
  color: white; }

.code-container {
  width: 80%;
  margin: auto;
  padding: 0;
  margin-top: 1.5rem;
  text-align: center; }

#about-me {
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  outline: none; }

.about {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  outline: none; }

.about-container {
  margin-top: 2rem;
  outline: none; }

.about-text {
  margin-top: 1.5rem;
  font-size: 1.2rem; }

#skills {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAF8F7;
  padding-bottom: 10rem;
  outline: none; }

.skills {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  outline: none; }

.skills-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.skill-set {
  width: 100%;
  height: 22rem;
  width: 16rem;
  margin-top: 5rem;
  background-color: white;
  box-shadow: 4px 3px 19px -6px rgba(0, 0, 0, 0.68);
  border-radius: 1px; }

.designTitle-container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px 15px 10px 0; }

.devTitle-container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px 5px 10px 0; }

.card-title {
  text-align: center;
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  font-size: 1rem;
  padding-bottom: 5px;
  display: inline; }

.list-title {
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-bottom: 5px; }

.skill-list {
  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 0.9rem;
  padding-left: 27px;
  list-style: initial;
  padding-bottom: 5px; }

.skill-list, li {
  margin: 3px 0 3px 0; }

#dev-icon {
  display: inline; }

footer {
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0; }

.footer-container {
  width: 15%;
  min-width: 200px;
  height: 100%;
  padding-top: 150px;
  margin: auto; }

.footer-text {
  text-align: center; }

#underline {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #3B3B3B;
  border-bottom: 2px solid #4EA9F5;
  padding-bottom: 3px; }

#copyright {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #3B3B3B;
  margin: 10px 0 10px 0; }

.blue {
  color: #4EA9F5 !important; }

.lightBlue {
  background-color: #43E6FF !important; }

.green {
  color: #28FF00 !important; }

.lightGreen {
  color: #5CFF81 !important; }

.red {
  color: #FF1D61 !important; }

.purple {
  color: #EB22EE !important; }

.lightPurple {
  color: #F275F7 !important; }

.yellow {
  color: #FEFF5C !important; }

.black-bg {
  background-color: #434343; }

.blue-bg {
  background-color: #4EA9F5 !important; }

.lightBlue-bg {
  background-color: #43E6FF !important; }

.green-bg {
  background-color: #28FF00 !important; }

.lightGreen-bg {
  background-color: #5CFF81 !important; }

.red-bg {
  background-color: #FF1D61 !important; }

.purple-bg {
  background-color: #EB22EE !important; }

.lightPurple-bg {
  background-color: #F275F7 !important; }

.yellow-bg {
  background-color: #FEFF5C !important; }
