// About Me Section //
#about-me {
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  outline: none;
}

.about {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  outline: none;
}

.about-container {
  margin-top: 2rem;
  outline: none;
}

.about-text {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
