// Color classes
.blue {
  color: $blue !important;
}

.lightBlue {
  background-color: $lightBlue !important;
}

.green {
  color: $green !important;
}

.lightGreen {
  color: $lightGreen !important;
}

.red {
  color: $red !important;
}

.purple {
  color: $purple !important;
}

.lightPurple {
  color: $lightPurple !important;
}

.yellow {
  color: $yellow !important;
}

// Background color classes
.black-bg {
  background-color: $black;
}

.blue-bg {
  background-color: $blue !important;
}

.lightBlue-bg {
  background-color: $lightBlue !important;
}

.green-bg {
  background-color: $green !important;
}

.lightGreen-bg {
  background-color: $lightGreen !important;
}

.red-bg {
  background-color: $red !important;
}

.purple-bg {
  background-color: $purple !important;
}

.lightPurple-bg {
  background-color: $lightPurple !important;
}

.yellow-bg {
  background-color: $yellow !important;
}
