// Lixo Theme // 
// Theme Configuration Settings //

// Font Stack
$primary-font: 'Avenir', Helvetica, sans-serif;

// Color Pallet
$grey: #3B3B3B;
$green: #28FF00;
$blue: #4EA9F5;
$red: #FF1D61;
$lightBlue: #43E6FF;
$purple: #EB22EE;
$dull: #FAF8F7;

// Color Classes
.green {
  color: $green;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.purple {
  color: $purple;
}

// Shadows
$box-shadow: 4px 3px 19px -6px rgba(0,0,0,0.68);

// Display Class Toggle
.hide {
  display: none;
}

.show {
  display: block;
}
