// Lixo Theme //
// Theme Configuration Settings //

// Font Stack
$primary-font: 'Avenir', Helvetica, sans-serif;

// Gradient Colors
$top-gradient: #43E6FF;
$bottom-gradient: #78C1FE;

// Active color Pallet
$blue: #4EA9F5;
$lightBlue: #43E6FF;
$green: #28FF00;
$lightGreen: #5CFF81;
$red: #FF1D61;
$purple: #EB22EE;
$lightPurple: #F275F7;
$yellow: #FFF45C;
$dull: #FAF8F7;
$grey: #3B3B3B;

// Shadows
$box-shadow: 4px 3px 19px -6px rgba(0,0,0,0.68);

// Display Class Toggle
.hide {
  display: none;
}

.show {
  display: block;
}
