// Details Section //

#details {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 10rem;
}

#description-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: $primary-font;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: $purple;
}

.button-container {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.button {
  width: 200px;
  height: 50px;
  font-family: $primary-font;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 2px;
  border-color: $grey;
  border-width: 1px;
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
  border-width: 2px;
}
