// Header Styles //
header {
  height: 350px;
  width: 100%;
  background-image: linear-gradient($top-gradient, $bottom-gradient);
  display: flex;
  justify-content: flex-end;
}

// Status Bar
.status-bar {
  position: absolute;
  margin-top: 5rem;
  background-color: white;
  width: 35%;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: $box-shadow;

  // Animations
  transition-timing-function: ease;
  transition: 0.2s;
}

#status-text {
  padding: 14px 0 0 30px;
  font-family: $primary-font;
  font-size: 1rem;
  color: $grey;
  font-weight: bold;
}

// Image
.image-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background-color: white;
  border-radius: 200px;
  width: 350px;
  height: 350px;
}

#profile-image {
  width: 85%;
  height: 300px;
  margin: auto;
  border-radius: 100%;
}

// Social Links
.social-links {
  margin-top: 18.5rem;
  padding-right: 15px;
  z-index: 3;
  position: absolute;

  .social-list li {
    display: inline;
    margin: 0 5px 0 5px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    }

  a {
    color: white;
    cursor: pointer;
  }
}
