// Menu Section //
.menu-btn {
  position: absolute;
  z-index: 3;
  left: 35px;
  top: 35px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  // @include easeOut;

  #menu-text {
    color: white;
    font-size: 1rem;
    font-family: $primary-font;
    letter-spacing: 1px;
  }

  .btn-lines {
    margin: 0 10px 0 10px;
  }

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    box-shadow: $box-shadow
    // @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.show {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }

}

#menu-text:hover {
  font-weight: bold;
}
