// Menu Section //
.menu-btn {
  position: absolute;
  z-index: 3;
  left: 35px;
  top: 35px;
  // @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    box-shadow: $box-shadow;
    // @include easeOut;
  }

}
