// Skills Section //
#skills {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dull;
  padding-bottom: 10rem;
  outline: none;
}

.skills {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  outline: none;

}

.skills-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-set {
  width: 100%;
  height: 22rem;
  width: 16rem;
  margin-top: 5rem;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 1px;
}

.designTitle-container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px 15px 10px 0;
}

.devTitle-container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px 5px 10px 0;
}

.card-title {
  text-align: center;
  font-family: $primary-font;
  font-weight: bold;
  padding-top: 10px;
  font-size: 1rem;
  padding-bottom: 5px;
  display: inline;
}

.list-title {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-bottom: 5px;
}

.skill-list {
  font-family: $primary-font;
  font-size: 0.9rem;
  padding-left: 27px;
  list-style: initial;
  padding-bottom: 5px;
}

.skill-list, li {
  margin: 3px 0 3px 0;
}

#dev-icon {
  display: inline;
}
