// Typography Styles //

// Header Text
h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: $primary-font;
  font-weight: bold;
  letter-spacing: 1px;
  color: $grey;
  font-size: 3.5rem;
}

h3 {
  background-color: $lightBlue;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
  font-family: $primary-font;
  width: 18rem;
  font-size: 1.4rem;
  padding-left: 5px;
  letter-spacing: 1px;
}

h4 {
  font-family: $primary-font;
  color: $grey;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

h5 {
  font-family: $primary-font;
  color: $grey;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

// Standard Text
p {
  font-family: $primary-font;
  color: $grey;
}

// Link Text
a {
  font-family: $primary-font;
  color: $blue;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

// Lists
ul li {
  font-family: $primary-font;
  color: $grey;
}
